<div class="container">
  <header>
    <div class="row">
      <div class="center">
      <img src="../../assets/logo/bcbsma-logo.png">
      <img src="../../assets/logo/myblue-logo.png">
    </div>
  </div>
    <hr class="header">
  </header>
<router-outlet></router-outlet>
<hr class="blue-text text-darken-3">
<footer>
 <div class="center"> 
<img src="../../assets/logo/bcbsma-logo.png">
<br>
<span class="">MASSACHUSETTS</span>
</div>
<p class="grey-text text-lighten-1">Blue Cross Blue Shield of Massachusetts is an independent Licensce of the Blue Cross and Blue Shield 
  Association. <br> &reg;, SM Registered and Service Marks of the Blue Cross and Blue Shield Association. &reg;' Registered Marks
  of the Blue Cross Blue Shield of Massachusetts. &reg;" Registered Marks are property of their respective owners.
        <br><span>&copy;{{year}}</span> Blue Cross Blue Shield of Massachusetts, Inc., and Blue Cross and Blue Shield of Massachusetts HMO Blue, 
        Inc.101 Huntington Avenue Suite 1300 Boston, MA 02199-7611</p>
        <ul class="blue-text text-darken-3">
            <li><a href="#" target="_blank">Terms of Use, Privacy and Security</a></li>
            <li><a href="#" target="_blank">Accessibility</a></li>
            <li><a href="#" target="_blank">Non discrimination and Translations Resources</a></li>
        </ul>
</footer>
</div>